<div class="message-section">
  <h3 class="message-thread-heading">{{ participantNames$ | async }}</h3>
  <message-list [messages]="messages$ | async"></message-list>
  <textarea
    name="message"
    class="message-composer"
    #input
    (keyup.enter)="onNewMessage(input)">

  </textarea>
</div>
