<ul class="thread-list">
  <li class="thread-list-item"
      *ngFor="let thread of threads"
      [ngClass]="{selected: thread.id == currentSelectedThreadId}"
      (click)="selectThread(thread.id)">
    <h5
      [ngClass]="{unread: !thread.read}"
      class="thread-name">{{thread.participantNames}}
    </h5>
    <div class="thread-time">{{thread.timestamp | date: 'shortTime' }}</div>
    <div class="thread-last-message">{{thread.lastMessageText}}</div>
  </li>
</ul>
