<header class="l-header v-center-parent">
  <img src="https://angular-academy.s3.amazon.com/main-logo/main-page-logo-small-hat.png" class="v-center"
       routerLink="home">

  <ul class="top-menu disable-text-selection">
    <li class="menu-entry">
      <a routerLink="home" href="/">Home</a>
    </li>
    <li class="menu-entry">
      <a href="/" routerLink="about">About</a>
    </li>
  </ul>

</header>
<messages></messages>
<div class="chatapp">
  <router-outlet></router-outlet>
</div>
