<div class="messages-frame" *ngIf="message">
  <div class="messages messages-error">
    <i class="md-icon close-icon" (click)="close()">close</i>
    <div class="messages-counter">
      <div>{{message}}</div>
    </div>
  </div>
</div>
