<ul class="message-list" #list>
  <li class="message-list-item" *ngFor="let message of messages">
    <h5 class="message-author-name">{{message.participantName}}</h5>
    <div class="message-time">{{message.timestamp | date: 'shortTime'}}</div>
    <div class="message-text">{{message.text}}</div>
  </li>
</ul>
